@font-face {
    font-family: "font-alfont-lighter";
    src: url(../Font/alfont_com_SomarGX.ttf);
}

html {
    font-family: "font-alfont-lighter";
}

body {
    direction: rtl;
    text-align: right;
    font-family: "font-alfont-lighter";
}

/* ==================================== */

.box-dropdown .dropdown-toggle::after {
    right: auto;
    left: -20px;
}

.sub-titel::before {
    right: -118px;
    left: auto;
}

.sub-titel::after {
    right: -20px;
    left: auto;
}

.box-img-law-firm::after {
    left: 140px;
    right: auto;
}

.box-law-firm ul li::before {
    right: 0;
    left: auto;
}

.box-law-firm h2::after {
    right: -20px;
    left: auto;
}

.box-law-firm h2::before {
    left: auto;
    right: -130%;
}

.box-item-Services::after {
    right: 0;
    left: auto;
}

.titel-Our-Team::after {
    left: 16px;
    right: auto;
}

.titel-Our-Team::before {
    right: auto;
    left: -100%;
}

.box-img-Our-Team::after {
    right: 140px;
    left: auto;
}

.head-titel-Our-Team {
    left: auto;
    right: 90px;
}

.box-Our-Team ul li::after {
    right: 0px;
    left: auto;
}

.box-img-logo-footer::before {
    right: -66%;
    left: auto;
}

.box-img-logo-footer::after {
    right: -20px;
    left: auto;
}

.img-logo-ح {
    left: 0;
    right: auto;
}

.box-carousel-caption h2 {
    font-family: "font-alfont-lighter";
}

.box-head-titel h2 {
    font-family: "font-alfont-lighter";
}

.box-Years-Legal .number {
    font-family: "font-alfont-lighter";
}

.box-slider-navigation-pagination .swiper-button-next,
.box-slider-navigation-pagination .swiper-button-prev {
    transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
    .box-navbar-nav {
        right: -100%;
        left: auto;
    }
    .box-navbar-nav.active {
        right: 0;
        left: auto;
    }
    .head-titel-Our-Team {
        right: auto;
    }
}